body {
    background-color: #919191;
}

.nav-bar {
    overflow: hidden;
    background-color: #20b2AA;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    padding: 0 20px;
}

.nav-bar a:hover {
    background-color: black;
    color: blue;
}

.Image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    filter: grayscale(80%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.Image:hover .overlay {
    opacity: 1;
}

img{
    border-radius: 100px;
}

.bottom-center {
    color: white;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform:translate(-50%, -50%);
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
}

.column p:hover {
    color: white;
    text-decoration: underline;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

footer p {
    display: inline;
    color: white;
}

 table {
    border: 1px solid black;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

th {
    border: 1px solid black;
    background-color: #d6EEEE;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.video {
    position: relative;
    text-align: left;
    color: white;
}

video {
    height: 500px;
    width: auto;
}

.top-center {
    color: white;
    position: absolute;
    top: 30px;
    left: 9%;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    font-weight: bold;
}